---
import Layout from '@layouts/Default.astro';
import { Button } from "@eliancodes/brutal-ui";
import SwitchList from '@components/switches/SwitchList.astro';

// Fetch switches from the API
const fetchSwitches = async () => {
  const response = await fetch(`${process.env.API_URL}/switches`);
  if (!response.ok) {
    throw new Error(`Failed to fetch switches: ${response.statusText}`);
  }
  return response.json();
};

// Fetch switches
const switches = await fetchSwitches();

// const fetchRepos = async () => {
//   const response = await fetch(`${process.env.API_URL}/repos`);
//   if (!response.ok) {
//     throw new Error(`Failed to fetch repos: ${response.statusText}`);
//   }
//   return response.json();
// };

// const repos = await fetchRepos();

---
<Layout
  title='Repositories'
  description='description'
  pageTitle='Repositories'
>
  <main class='bg-white p-6 space-y-4'>
    <Button href={`/switches/create_switch`} color="green">Fix Bugs (TODO)</Button>
    <SwitchList switches={switches} />
    <!-- <RepoList repos={repos} /> -->
  </main>
</Layout>
